/* Estilo general de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://i.pinimg.com/736x/42/65/e0/4265e069b5650d2aca55ac3911526250.jpg'); /* Fondo para móviles https://i.pinimg.com/736x/fb/73/20/fb7320615f1c8c7cb5e69ddd48f1c15e.jpg*/
}

@media (min-width: 768px) {
    body {
        background-image: url('https://i.pinimg.com/736x/42/65/e0/4265e069b5650d2aca55ac3911526250.jpg'); /* Fondo para escritorio */
    }
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Título del menú */
.menu h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Botones del menú */
.menu-btn {
    background-size: cover; /* La imagen cubre todo el botón */
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 80%; /* Ancho del botón (ajustable para móviles) */
    max-width: 300px; /* Tamaño máximo en pantallas grandes */
    height: 150px; /* Altura fija para uniformidad */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Texto visible sobre las imágenes */
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra para mejor contraste */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Efecto al pasar el ratón */
.menu-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Botón 1: Buscar Cartas */
#search-cards {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuI_cMAdK7r-lk2Ngbhq25CovLX0kvy80gQQ&s'); /* Reemplaza con tu imagen */
}

/* Botón 2: Buscar Mazos */
#search-decks {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdQdp7Bb-VwMl4pQf94nKO-EJTqWKBsjluxg&s'); /* Reemplaza con tu imagen */
}
