body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#search-input {
  padding: 0.5rem;
  font-size: 1rem;
  flex: 1;
  max-width: 300px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
}
/*
{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
*/
button:hover {
  background-color: #0056b3;
}

#resultados, .cartas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.mazo-card, .carta {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  width: 200px;
}

.carta img, .mazo-card img {
  width: 100%;
  height: auto;
}

#vista-detalles {
  padding: 1rem;
}

button#volver {
  margin-bottom: 1rem;
}



/* Estilo para el contenedor de botones----------------------------------- */
.botones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px; /* Espaciado entre botones */
  margin-bottom: 1rem;
}

/* Botón de descargar lista */
button.descargar {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

button.descargar:hover {
  background-color: #218838; /* Verde oscuro al pasar el ratón */
}
